/*@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* INDEX */

header{
    background-image: url("./background.png");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center;
    padding-bottom: 50px;
}

.bgTransparent{
    background-color: #ffffff50;
}

#index-nav{
    max-width: 840px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#login-page, 
#register-page{
    background: #ffffff;
    color: #0078D4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.3rem 1.2rem;
    transition: 1s;
    font-size: 14px;
    font-weight: bold;
}

#login-page:hover,
#register-page:hover{
    background: #0078D4;
    color: #ffffff;
}

#index-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 840px;
    margin: auto;
}

#index-content ul{
    margin-top: 5em ;
    font-size: 50px;
    color: #ffffff;
    list-style: none;
}

#about-container{
    background-color: lightblue;
}

#about{
    max-width: 840px;
    margin: auto;
}

/* LOGIN */

#login-nav{
    max-width: 840px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#login-nav li{
    display: inline-block;
    list-style: none;
    margin-right: 5px;
}

#login-nav a{
    text-decoration: none;
    color: white;
}

#ilogin-nav a:hover{
    color: #0078D4;
}

#login-nav a:focus{
    color: #0078D4;
}

#login-container{
    max-width: 230px;
    background: #ffffff70;
    box-shadow: 5px 5px 5px #00000080;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
   }

#login-container h2{
    font-size: 20px;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

input{
    background: transparent;
    border: 0;
    border-bottom: 2px solid #000000;
    display: block;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

label{
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 0.4rem;
}

/*#inputPassword{
    background-image: url('./eye.png');
    background-size: 15px;
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
}*/

.label-float{
    position: relative;
    margin-bottom: 25px;
}

.label-float label{
    position: absolute;
    top: 0;
    font-size: 13px;
    transition: all .3s ease-out;
    pointer-events: none;
}

.label-float input:focus + label,
.label-float input:valid + label{
    top: -20px;
}

#login-bt,
#register-bt{
    border: none;
    border-radius: 5px;
    background: #0078D4;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.2rem;
    width: 100%;
    color: white;
    transition: 1s;
    margin-bottom: 20px;
    cursor: pointer;
}

#login-bt:hover,
#register-bt:hover{
    background: white;
    color: #0078D4;
}

#or{
    font-size: 13px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

#register-link,
#register-link a{
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    transition: 1s;
}

#register-link a:hover{
    text-decoration: underline;
    color: white;
}

/* FOOTER */

footer{
    background: #2A3338;
    height: 100%;
}


/* MSG DE ERRO */

#loginErro{
    background: lightcoral;
    color: red;
    border-radius: 5px;
    padding: 6px;
    display: none;
    text-align: center;
}

#registerError{
    background: lightcoral;
    color: red;
    border-radius: 5px;
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
    display: none;
    text-align: center;
}

#registerSuccess{
    background: lightgreen;
    color: green;
    border-radius: 5px;
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
    display: none;
    text-align: center;
}

/* ESTILIZANDO O SCROLL */

::-webkit-scrollbar {
    width: 10px; 
    
}

::-webkit-scrollbar-track {
    background-color: #fff; 
    box-shadow: inset 0 0 .2rem black;
}  

::-webkit-scrollbar-thumb {
    background: #2A3338; 
}

/* ESTILIZANDO O VISUALIZADOR DE SENHA */

#view-password,
#view-create,
#view-confirm {
    position: absolute;
    top: -5px;
    right: 5px;
    width: 15px;
    cursor: pointer;
}

.view-register,
.view-confirm,
.view-password

/* ESTILIZANDO O REGEX */

#container .box #registerButton:disabled{
    cursor: not-allowed;
    background: #2A3338;
    color: #ffffff;
}

/* #inputCreateEmail.error{
    background: red;
} */


[data-anime]{
    opacity: 0;
    transition: 1s;
}

[data-anime='down']{
    transform: translate3d(0, -100%, 0);
}

[data-anime='up']{
    transform: translate3d(0, 100%, 0);
}

[data-anime='rigth']{
    transform: translate3d(35px, 0, 0);
}

[data-anime='left']{
    transform: translate3d(-100%, 0, 0);
}

[data-anime].animation{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}