/* ESTILIZANDO O HEADER */

.cabecalho{
    background:linear-gradient( blueviolet, #CCCCCC);
    padding: 40px;
}

.cabecalho div{
    width: 940px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.cabecalho h1{
    font-size: 50px;
    font-weight: bold;
}

.cabecalho ul{
    margin: 0 0 0 auto;
}

.cabecalho li{
    display: inline;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0 20px;
}

.cabecalho a{
    text-decoration: none;
    color: black;
}

.cabecalho a:hover{
    color: white;
    transition: 1s;
}

/* ESTILIZANDO O MAIN DO LOGIN*/

.formulario{
    background-color: #CCCCCC;
    padding: 40px;
}

.formulario section{
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
}

.caixa{
    max-width: 300px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
}

.caixa h1{
    max-width: 300px;
    width: 100%;
    color: darkblue;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.caixa div{
    max-width: 300px;
    width: 95%;
}

.caixa input{
    max-width: 300px;
    width: 100%;
    padding: 6px;
    outline: none;
    display: block;
}

.caixa button{
    width: 100%;
    padding: 6px;
    background-color: darkblue;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.formulario input[type=submit]:hover{
    opacity: 50%;
    transition: 1s;
}

.eye{
    height: 10px;
    width: 10px;
    background: black;
    position: absolute;
    right: 5%;
    top: 37%;
    cursor: pointer;
}

.eye-create{
    height: 10px;
    width: 10px;
    background: black;
    position: absolute;
    right: 5%;
    top: 63%;
    cursor: pointer;
}

.eye-confirm{
    height: 10px;
    width: 10px;
    background: black;
    position: absolute;
    right: 5%;
    top: 79%;
    cursor: pointer;
}

.formulario p{
    text-align: center;
    margin: 20px 0;
    color: black;
}

.formulario a{
    text-decoration: none;
    color: black;
}

.formulario a:hover{
    text-decoration: underline;
}

/* ESTILIZANDO O FOOTER */

.rodape{
    background:linear-gradient(#CCCCCC, blueviolet);
    padding: 40px;
}

.rodape div{
    width: 940px;
    margin: 0 auto;
}

.rodape h1{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}


#registerError{
    background: lightcoral;
    color: red;
    border-radius: 5px;
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
    display: none;
}

#registerSuccess{
    background: lightgreen;
    color: green;
    border-radius: 5px;
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
    display: none;
}

#msgErro{
    background: lightcoral;
    color: red;
    border-radius: 5px;
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
    display: none;
}