Options -Indexes

# Regra de bloqueio

<FilesMatch "\.js$">
    Deny from all
</FilesMatch>

<FilesMatch "\.js$">
    Order allow,deny
    Allow from 127.0.0.1
</FilesMatch>

# Remove a extensão do arquivo

RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.html [NC]
RewriteRule ^ %1/ [R,L]

# Não permite o metodo

<Limit >
    Deny from all
</Limit>

# Reescrita de url

RewriteEngine on

RewriteCond %{QUERY_STRING} "/script"
RewriteRules .* - [F]