/*@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* INDEX */

header{
    background-image: url("../css/bg.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center; 
    width: 100%; 
    height: 100vh;
}

#menu-nav{
    background-color: #ffffff50;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#menu-nav #menu-btn{
    background-color: #ffffff;
    color: #0078D4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 50%;
}

#index-content{
   display: flex;
   flex-direction: column;
}

#index-content ul{
    margin-top: 10%;
    font-size: 50px;
    color: #ffffff;
    list-style: none;
    margin-left: 20%;
}

#index-btn #register-btn{
    background-color: #0078D4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10%;
    margin-left: 60%;
}

/* LOGIN/ REGISTER */

#menu-nav ul{
    margin-left: 50%;
}

#menu-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 5px;
    color: white;
    cursor: pointer;
    transition: 1s;
    font-weight: bold
}

#menu-nav li:hover,
#menu-nav li:focus{
    color: #0078D4;
}

.container{
    max-width: 230px;
    background-color: #ffffff70;
    box-shadow: 8px 8px 15px rgb(0, 0, 0, .3);
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    margin-top: 10%;
}

.container .title{
    font-size: 20px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.container .form input{
    background: transparent;
    border: 0;
    border-bottom: 2px solid #000000;
    display: block;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

/*#inputPassword{
    background-image: url('./eye.png');
    background-size: 15px;
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
}*/

.container .form .label-float{
    position: relative;
    margin-bottom: 25px;
}

.container .form .label-float label{
    color: white;
    position: absolute;
    top: 0;
    font-size: 12px;
    transition: all .3s ease-out;
    pointer-events: none;
}

.container .form .label-float input:focus + label,
.container .form .label-float input:valid + label{
    top: -20px;
}

#login-bt,
#register-bt{
    border: none;
    border-radius: 5px;
    background: #0078D4;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.2rem;
    width: 100%;
    color: white;
    transition: 1s;
    margin-bottom: 20px;
    cursor: pointer;
}

#login-bt:hover,
#register-bt:hover{
    background: white;
    color: #0078D4;
}

#or{
    font-size: 13px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

#register-link,
#register-link a{
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    transition: 1s;
}

#register-link a:hover{
    text-decoration: underline;
    color: white;
}

/* MSG DE ERRO */

#loginErro{
    background: lightcoral;
    color: red;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    display: none;
    text-align: center;
    margin-bottom: 25px;
}

#registerError{
    background: lightcoral;
    color: red;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    display: none;
    text-align: center;
    margin-bottom: 25px;
}

#registerSuccess{
    background: lightgreen;
    color: green;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    display: none;
    text-align: center;
    margin-bottom: 25px;
}

/* SCROLL */

/* ::-webkit-scrollbar {
    width: 10px; 
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
    background-color: #fff; 
    box-shadow: inset 0 0 .2rem black;
}  

::-webkit-scrollbar-thumb {
    background: #2A3338; 
} */

/* VISUALIZADOR DE SENHA */

#view-password,
#view-create,
#view-confirm {
    position: absolute;
    top: -5px;
    right: 5px;
    width: 15px;
    cursor: pointer;
}

/* REGEX */

#register-bt:disabled{
    cursor: not-allowed;
    background: #2A3338;
    color: #ffffff;
}

/* #inputCreateEmail.error{
    background: red;
} */

/* ANIMAÇÃO */

[data-anime]{
    opacity: 0;
    transition: 1s;
}

[data-anime='down']{
    transform: translate3d(0, -100%, 0);
}

[data-anime='up']{
    transform: translate3d(0, 100%, 0);
}

[data-anime='rigth']{
    transform: translate3d(35px, 0, 0);
}

[data-anime='left']{
    transform: translate3d(-100%, 0, 0);
}

[data-anime].animation{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}