<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Login</title>
</head>

<body>
    <header>
        <div id="menu-nav">
            <img id="menu-img" src="../assets/img/menu-icon.png" alt="icone do menu">
            <ul>
                <li id="home">Home</li>
                <li id="sobre">Sobre</li>
                <li id="contato">Contato</li>
            </ul>
        </div>
   
        <div class="container">

            <h2 class="title">Login</h2>
            <p id="loginErro"></p>

            <form class="form" autocomplete="off">
                <div class="label-float">
                    <input id="inputUser" type="text" placeholder="" required>
                    <label id="labelUser" for="createUser">Usuario</label>
                </div>

                <div class="label-float">
                    <input id="inputPassword" type="password" placeholder="" required>
                    <label id="labelPassword" for="createPassword">Senha</label>
                    <img id="view-password" src="../assets/img/eye.png" alt="visualizar senha">
                </div>
                <button id="login-bt">Entrar</button>
            </form>    

            <p id="or">ou</p>

            <div id="register-link">
                <p><a href="register.html">Cadastre-se</a></p>
            </div>
        </div>
     
    </header>

    <script type="module" src="../js/login.js"></script>
</body>
</html>