<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Register</title>
</head>

<body>
    <header>
        <div id="menu-nav">
            <img id="menu-img" src="../assets/img/menu-icon.png" alt="icone do menu">
            <ul>
                <li id="home">Home</li>
                <li id="sobre">Sobre</li>
                <li id="contato">Contato</li>
            </ul>
        </div>
   
        <div class="container">

            <h2 class="title">Cadastro</h2>
            <p id='registerError'></p>
            <p id='registerSuccess'></p>

            <form class="form" autocomplete="off">
                <div class="label-float">
                    <input id="inputCreateName" type="text" placeholder="" required>
                    <label id="labelCreateName" for="createName">Nome</label>
                </div>
                <div class="label-float">
                    <input id="inputCreateUser" type="text" placeholder="" required>
                    <label id="labelCreateUser" for="createUser">Usuário</label>
                </div>
                <div class="label-float">
                    <input id="inputCreateEmail" type="text" placeholder="" required>
                    <label id="labelCreateEmail" for="createEmail">E-mail</label>
                </div>
                <div class="label-float">
                    <input id="inputCreatePassword" type="password" placeholder="" required>
                    <label id="labelCreatePassword" for="createPassword">Senha</label>
                    <img id="view-create" src="../assets/img/eye.png" alt="visualizar senha">
                </div>
                <div class="label-float">
                    <input id="inputConfirmPassword" type="password" placeholder="" required>
                    <label id="labelConfirmPassword" for="confirmPassword">Confirma Senha</label>
                    <img id="view-confirm" src="../assets/img/eye.png" alt="visualizar senha">
                </div>
                        
                <div>
                    <button id="register-bt">Cadastrar</button>
                </div>
            </form>

        </div>
    </header>

    <script type="module" src="../js/register.js"></script>
</body>
</html>